<% layout("/layouts/boilerplate.ejs")%>
<body>
    <form action="/listings" method="post">
        <h3>Create a new listing</h3>
        <div>
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" placeholder="Enter title" type="text" class="form-control" />
        </div>
        <div>
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" placeholder="Enter title" class="form-control"></textarea>

        </div>
        <div>
            <label for="image_name" class="form-label">Image Name</label>      
            <input name="listing.image-name[imageName]" placeholder="Enter image name " class="form-control" >
        </div>
        <div>
            <label for="image_url" class="form-label">Image Link</label>      
            <input name="listing.image-url[imageUrl]" placeholder="Enter image url  " type="text"  class="form-control">
        </div>
        <div>
            <label for="price" class="form-label">Price</label>      
            <input name="listing[price]" placeholder="Enter price" type="number" class="form-control">
        </div>
        <div>
            <label for="country" class="form-label">Country</label>      
            <input type="text" name="listing[country]" placeholder="Enter country name" class="form-control">
        </div>
        <div>
            <label for="location" class="form-label">Locatin</label>      
            <input name="listing[location]" placeholder="Enter location" type="text">
        </div>
        <br><br>
        <button class="btn btn-dark">Add</button>
    </form>
</body>
